body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #011638;
}

#container {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container .container_line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 50%;
}

#container .bar {
  min-width: 3% !important;
  width: 100%;
  height: 10px;
  margin: 0 5px 10px 5px;
  background-color: gray;
  transition: all ease-in-out 0.2s;
}

#container .bar .inner_bar {
  transition: all ease-in-out 0.2s;
  width: 0;
  height: 100%;
  background-color: red;
}

@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.show {
  animation: animate 1s;
  animation-fill-mode: forwards;
}
